---
#=======================================================================================
# pyUPSTIlatex - Configuration pour la génération d'un poly de {{ poly_type_display }}
#=======================================================================================
# Emmanuel Bigeard - s2i@bigeard.me
# https://s2i.bigeard.me/pyupstilatex
#---------------------------------------------------------------------------------------
#  - Vous pouvez modifier ce fichier comme vous le souhaitez.
#  - L'ordre des documents et des sections dans le poly sera l'ordre défini dans ce
#    fichier.
#  - Les chemins relatifs sont définis par rapport à ce fichier YAML.
#=======================================================================================
{{ poly_yaml}}
